@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4" style="background-color:lightyellow;font-family:serif">Welcome to Hunger</h1>
    <p style="font-size:150%; background-color:yellow;">Are you Hungry....?<br /> Have Some pizza &#127829 and Burgers &#x1F354; <a href="https://docs.microsoft.com/aspnet/core"></a></p>
</div>
